footer{
    background-color:rgb(116, 209, 238) ;
    padding:7px 0 0 .9%;
}
.redes--sociales{
    display: flex;
    align-items: center;
    gap: 1.2%;
}
.redes--sociales a{
    font-size: 2.8rem;
}
.icono--instagram{
    color: rgb(213, 2, 255);
}
.icono--facebook{
    color: rgb(21, 0, 214);
}
@include mobi{
    .redes--sociales a{
        font-size: 2.5rem;
    }
    .redes--sociales h2{
        font-size: 1.1rem;
    }
}