 header{
    background-image: linear-gradient(
        180deg,
        hsl(240deg 100% 20%) 0%,
        hsl(231deg 76% 28%) 5%,
        hsl(222deg 70% 34%) 9%,
        hsl(214deg 72% 40%) 14%,
        hsl(207deg 79% 43%) 19%,
        hsl(202deg 82% 46%) 25%,
        hsl(199deg 81% 48%) 31%,
        hsl(195deg 83% 49%) 37%,
        hsl(191deg 90% 49%) 43%,
        hsl(191deg 90% 57%) 50%,
        hsl(193deg 88% 66%) 59%,
        hsl(195deg 85% 72%) 68%,
        hsl(198deg 82% 77%) 80%,
        hsl(202deg 78% 82%) 100%
      );
    padding:7px 0 .6% .9%;
    display: flex;
 }
 nav{
    width: 100%;
    height:117px;
    margin: 0 2% 0 0;
}
 .navbar__mobile{
    display: none;
}
.nav__links--estilo{
    height: 100%;
    width: 100%;
    padding-left: 4rem;

    display: grid;
    grid-template-columns:repeat(3,auto) 1fr 41%;
    grid-template-rows: 1fr;
    gap: 5%;

}
nav ul li:nth-child(-n+3){
    padding: 0 .5rem;

    align-self: center;
    justify-self: center;
}

nav ul li a:nth-child(-n+3){
    font-size: 1.15rem; 
    font-weight:500;
    color: black;
}
nav ul li a:nth-child(-n+3):hover{
    color: rgb(209, 0, 0);
}
.mnu-desplegable{
    &:hover .li-desplegada{
        display: block;
    }
    button{
        background-color: $celeste-h;
        border: solid 1.5px black;
        border-radius: 5px;
        padding: 0 0.3rem;
        &::after{
            @include font-i("\f0d7",1rem,black)
            
            
        }
    }
    .li-desplegada{
        position: absolute;
        border-radius: 5px;
        border: solid 1.5px black;
        background-color: $celeste-h;
        display: none;
        li{
            padding: 0 5px;
        }

    }
}

.li__barra{
    height: 100%;
    grid-column: 5/6;
}
.barra__busqueda{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.espacio__busqueda{
    width:70%;
    max-width: 300px;
}
.boton__busqueda{
    font-weight: 500;
    color:black;
    border-color:black;

    border-radius: 5px;
    background-color: transparent;
    padding: 0.360rem 0.75rem;
}
.boton__busqueda:hover{
    color: black;
    background-color:rgb(200, 0, 0);
    border-color: black;
}

.button__busqueda__mobile{
    display: none;
}
//media Q
@include mobi{
    .a-logo{
        width:auto;
        
        display: flex;
    }
    .logo{
        width: 140px;
        height: 80px;
    }
    header{
        align-items: center;
    }
    nav{
        margin: 0;
        width: 1fr;
        height: fit-content;

        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 4px;
    }
    .navbar__desktop{
        display: none;
    }
    .navbar__mobile{
        display: block;
        padding: 0;
    }
    .button__busqueda__mobile{
        display: block;
        padding: 0;
        background-color: transparent;
        border-style: none;
        margin-right: 15px;
    }
    .icono__busqueda__mobile{
        display:block;
        height:27px;
        width:27px;
        background-image: url(../assets/imagenes/magnifying-glass-solid.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    .menu__busqueda__mobile{
        background-color: rgb(109, 207, 236);
        bottom: 0;
    }
    .barra__busqueda__mobile{
        height: 32px;
        width: 258px;
        border-radius: 32px;
        background-color: rgba(0,0,0,0.05);
    }
    .espacio__busqueda__mobile{
        font-size: 1rem;
        padding: 4px 0;
        margin-left: 12px;
    }
    .botonmenu_mobile{
        background-color: transparent;
        padding: 2px 7px;
        border:solid 2px lightblue;
        border-radius: 6px;
        line-height: 1;
        margin-right: 7px;
    }
    .icono__menu__mobile{
        height:1.8rem;
        width:1.8rem;
    }
    .menu__mobile{
        bottom: auto;
        width:auto ;
        border-radius: 6px;
        background-color: rgb(109, 207, 236);
        box-shadow:5px 0px 18px 11px rgb(185, 231, 245);

        top: 0;
        right: 0;
        border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
        transform: translateX(100%);
    }
}