header{
    @include bgi-gr;
    padding:7px 0 .6% .9%;
    display: flex;
    flex-direction: row;
    nav{
        width: 100%;
        height:117px;
        margin: 0 2% 0 0;
        .nav__links--estilo{
            height: 100%;
            width: 100%;
            padding-left: 2rem;
            @include g-cyr(repeat(3,auto) 1fr 41%, 1fr);
            gap: 5%;
            li{
                &:nth-child(-n+3){
                    padding: 0 .5rem;

                    align-self: center;
                    justify-self: center;
                }
                a{
                    &:nth-child(-n+3){
                        font-size: 1.15rem;
                        font-weight:500;
                        color: black;
                        &:hover{
                            color: rgb(209, 0, 0);
                        }
                    }
                }
            }
            .mnu-desplegable{
                &:hover .li-desplegada{
                    display: block;
                }
                button{
                    background-color: $celeste-h;
                    border: solid 1.5px black;
                    border-radius: 5px;
                    padding: 0 0.3rem;
                    white-space: nowrap;
                    &::after{
                        @include font-i("\f0d7",1rem,black);
                        
                        
                    }
                }
                .li-desplegada{
                    position: absolute;
                    border-radius: 5px;
                    border: solid 1.5px black;
                    background-color: $celeste-h;
                    display: none;
                    li{
                        padding: 0 5px;
                    }
                }
            }
            .li__barra{
                height: 100%;
                grid-column: 5/6;
                .barra__busqueda{
                    height: 100%;
                    @include flex($fd-r,$jc-fe,$ai-c);
                    .espacio__busqueda{
                        width:70%;
                        max-width: 300px;
                    }
                    .boton__busqueda{
                        font-weight: 500;
                        color:black;
                        border-color:black;
                    
                        border-radius: 5px;
                        background-color: transparent;
                        padding: 0.360rem 0.75rem;
                        &:hover{
                            color: black;
                            background-color:rgb(200, 0, 0);
                            border-color: black;
                        }
                    }
                }
            }
        }
        .button__busqueda__mobile{
            display: none;
        }
        .navbar__mobile{
            display: none;
        }
    }
 }
//media Q
@include mobi{
    header{
        align-items: center;
        .a-logo{
            width:auto;
        
            display: flex;
            flex-direction: row;
            .logo{
                width: 140px;
                height: 80px;
            }
        }
        nav{
            margin: 0;
            width: 75%;
            height: fit-content;
    
            @include flex($fd-r,$jc-fe,$ai-c);
            padding-top: 4px;
            .navbar__desktop{
                display: none;
            }
            .button__busqueda__mobile{
                display: block;
                padding: 0;
                background-color: transparent;
                border-style: none;
                margin-right: 15px;
                .icono__busqueda__mobile{
                    display:block;
                    height:27px;
                    width:27px;
                    background-image: url(../assets/imagenes/magnifying-glass-solid.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
            .menu__busqueda__mobile{
                background-color: rgb(109, 207, 236);
                height: 3.5rem !important;
                @include flex($fd-r,$jc-fs,$ai-c);
                .div__boton-close{
                    margin: .2rem;
                    button{
                        display: block;
                    }
                }
                .barra__busqueda__mobile{
                    height: 40px;
                    width: 89%;
                    border-radius: 32px;
                    background-color: rgb(255 255 255 / 43%);
                    display: flex;
                    flex-direction: row;
                    overflow: hidden;
                    margin-right: 5.5%;
                    .espacio__busqueda__mobile{
                        font-size: 1.1rem;
                        padding: 4px 0;
                        margin-left: 26px;
                        background-color: transparent;
                        outline: none;
                        border: none;
                        width: 87%;
                    }
                    button{
                        width: 8%;
                        height: 100%;
                        border: none;
                        border-left: solid 1.5px #5194a970;
                        background-color: rgb(53 134 163 / 43%);
                        min-width: 34px;
                        div{
                            width: 29px;
                            height: 18px;
                            background-image: url(../assets/imagenes/magnifying-glass-solid.svg);
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }
                }
            }
            .navbar__mobile{
                display: block;
                padding: 0;
                .botonmenu_mobile{
                    background-color: transparent;
                    padding: 2px 7px;
                    border:solid 2px #4388cd;
                    border-radius: 6px;
                    line-height: 1;
                    margin-right: 7px;
                    .icono__menu__mobile{
                        height:1.8rem;
                        width:1.8rem;
                    }
                }
                .menu__mobile{
                    bottom: auto;
                    width:auto ;
                    border-radius: 6px;
                    @include sombra-perfecta;
            
                    top: 0;
                    right: 0;
                    border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
                    transform: translateX(100%);
                    .offcanvas__button__close{
                        padding: 1rem;
                        display: flex;
                        justify-content: end;
                    }
                    div{
                        >ul{
                            @include flex($fd-c,$jc-fs,$ai-c);
                            >li{
                                &:nth-child(-n+2){
                                    width: fit-content;
                                    margin: .5rem 1rem 0;
                                }
                                a{
                                    color: black;
                                    font-size: 1.1rem;
                                    font-weight: 500;
                                }
                            }
                            .menu__az--desplegable{
                                font-size: 1.1rem;
                                font-weight: 500;
                                cursor: pointer;
                                
                                &:active ul{
                                    height: 6.2rem;
                                    transition: height 0.1s;
                                }
                                div{
                                    margin: .5rem 1rem 0;
                                    padding-left: 3px;
                                    text-align: center;
                                    &::after{
                                        @include font-i("\f0d7",1rem,black);
                                        position:relative;
                                        bottom: 2px;
                                    }
                                }
                                ul{
                                    margin-top: .4rem;
                                    padding: 0;
                                    height: 0;
                                    overflow: hidden;
                                    background-color: rgba(255, 255, 255, 0.43);
                                    border-radius: 5px;
                                    transition: height 0.3s;
                                    transition-delay: 5s;
                                    @include flex($fd-c,$jc-fs,$ai-c);
                                    li{
                                        padding: .2rem .8rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}